/**************
RESETS
**************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}


/*************************
HEADER
**************************/

header {
    height: 108px;
}


.header-logo {
  margin: 38px 0 0;
  float: left;
}

.header-menu {
  margin: 43px 0 0;
  float: right;
}

.header-menu a {
    font-family: 'aleoregular', monospace;
    font-size: 1em;
    padding: 0 21px;
    color: #3b3b3b;
}

/*************************
MENU-BANNER
**************************/

.masthead {
    max-width: 100%;
    width: 100%;
    height: 574px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid;
    border-color: #f34949;
}

.masthead-caption-text {
  text-align: center;
  padding-top: 204px;
  margin-right: 27px;
}

.masthead-caption-text h1 {
  font-size: 6em;
  font-family: 'wc_mano_negra_btaregular', monospace;
  text-transform: capitalize;
  color: white;
  font-weight: 100;
  letter-spacing: -7.3px;
}

.masthead-caption-text h2 {
  font-family: 'aleoregular', monospace;
  font-weight: 100;
   color: white;
   font-size: 1.05em;
   letter-spacing: 0.3px;
   margin-left: 10px;
   margin-top: -4px;
}

.masthead-caption-text h2:before,
.masthead-caption-text h2:after {
  display: inline-block;
  height: 1px;
  content: "";
  background-color: white;
  width: 40px;
}

.masthead-caption-text h2:before {
   margin-right: 25px;
   margin-bottom: 5px;
}

.masthead-caption-text h2:after {
   margin-left: 25px;
   margin-bottom: 5px;
}

.menu-flag {
  text-align: center;
}

a.arrow-up{
  font-family: 'aleoregular' , monospace;
  font-size: 1.3em;
  color: white;
  padding: 25px 30px;
  background: #f34949;
  display: inline-block;
  position: relative;
}

a.arrow-up:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 10px solid white;
  border-top: 10px solid transparent;
}

.menu-list {
  margin-top: 68px;
}
.resto-menu-item {
  padding: 10px 0;
  font-family: 'aleoregular', monospace;
  color: #656565;
  font-size: 1.1em;
  margin-bottom: 35px;
}
.resto-menu-item p > span {
  color: #b7b7b7;
  font-family: 'aleolightitalic', monospace;
  font-size: .7em;
}

.resto-menu-item-price {
  float: right;
}
