@font-face {
    font-family: 'wc_mano_negra_btabold';
    src: url('../fonts/wc_mano_negra_bta/wcmanonegraboldbta-webfont.woff2') format('woff2'), url('../fonts/wc_mano_negra_bta/wcmanonegraboldbta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'wc_mano_negra_btaregular';
    src: url('../fonts/wc_mano_negra_bta/wcmanonegrabta-webfont.woff2') format('woff2'), url('../fonts/wc_mano_negra_bta/wcmanonegrabta-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
