/*****************************
UNIVERSAL
******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h2 {
    font-size: 1.5em;
    color: #3b3b3b;
}

/*****************************
  HEADER
 ******************************/


/*Banner div*/

.header-wrapper {
    width: 85%;
    margin: 0 auto;
    height: 110px;
}
.header-logo {
    top: 50%;
    transform: translatey(-50%);
    float: left;
    position: relative;
}
.header-menu {
    top: 50%;
    transform: translatey(-50%);
    position: relative;
}
.header-menu {
    float: right;
}
.header-menu li {
    margin-right: 25px;
}
.header-menu a {
    font-weight: bold;
    color: #3b3b3b;
}
.header-menu a:hover {
    color: grey;
}

/*clear fix*/

.group:after {
    content: "";
    display: table;
    clear: both;
}
#banner-main {
    object-fit: contain;
    max-width: 100%;
    height: 570px;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/Users/vhetriuc/Developer Web/Resto_web/images/menu_background.png');*/
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('D:/Resto_Repo/Resto_web/images/menu_background.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    border-bottom: solid;
    border-color: rgb(243, 73, 73);
}

/*Banner text*/

#banner-main> p {
    color: white;
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
#banner-menu {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    /*background-image: url('/Users/vhetriuc/Developer Web/Resto_web/images/menu_title.png');*/
        background-image: url('D:/Resto_Repo/Resto_web/images/menu_title.png');
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: contain;
}
#banner-menu> p {
    color: white;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.text-menu {
    /*color: white;*/
    position: absolute;
    width: 100% top: 30%;
    text-align: center;
}
.header-logo, .header-menu {
    text-align: center;
}
.rated-block li, .header-menu li {
    display: inline-block;
}
.menu-load {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    display: table;
    padding: 5px 5px;
    border: 1px solid rgb(183, 183, 183);
}
.menu-load-more {
    color: rgb(183, 183, 183);
}
.main-dishes {
    width: 85%;
    margin: 0 auto;
}
.menu-dishes-price {
    float: right;
}
.menu-asd {
    margin-right: -10px;
    margin-left: -10px;
}
.menu-asd> li {
    float: left;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
}
.menu-dishes> img {
    display: block;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}

.main-gallery> h2, .main-dishes> h2 {
    margin-bottom: 80px;
}
.main-gallery {
    max-width: 85%;
    width: 85%;
    margin: 200px auto;
}

.main-gallery > img {
  max-width: 100;
  width: 100%;
}
.main-dishes {
    margin-top: 200px;
}

/*****************************
  FOOTER
 ******************************/

#footer-main {
    background-color: #3b3b3b;
}
.footer-anchor li, .footer-anchor a {
    color: white;
}
.footer-anchor ul {
    padding: 7px 0px;
}
.footer-titles {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
}
.footer-phone {
    font-weight: bold;
    font-size: 1em;
}
.footer-address {
    font-weight: lighter;
    font-size: .75em;
}
.footer-hint, .footer-logo {
    margin: 0 0 10px 0;
}
.footer-rights {
    margin: 5px 0;
    font-weight: lighter;
    font-size: .75em;
}
.footer-hint {
    font-weight: bold;
    font-size: 1em;
}
.footer-anchor a:hover {
    color: #A9A9A9;
}
.footer-anchor a:active {
    color: white;
}
.menu-item {
    padding: 10px;
    width: 70%;
    margin: 40px auto;
}
.menu-item-price {
    float: right;
}
.menu-item-col-one {
    padding: 20px 0;
    float: left;
    width: 50%;
    margin: 0 auto;
}
.menu-item-col-two {
    padding: 20px 0;
    float: left;
    width: 50%;
    margin: 0 auto;
}
.menu-load {
    clear: both;
}
.info2, .info1, .address2, .address1 {
    float: left;
    padding: 0 20px;
    width: 25%;
}
.footer-container {
    max-width: 85%;
    width: 85%;
    margin: 0 auto;
}
#footer-main {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#footer-main > img {
   background-position: center;
   width: 100%;
   background-size: cover;
}
.footer-anchor ul {
    margin: 10px 40px;
}

/************************
 MOBILE
 *************************/

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .header-wrapper, .header-logo, .header-menu {
        float: none;
        position: static;
        width: 100%;
        height: auto;
        margin: 20px auto;
    }
    #banner-main {
        position: relative;
        max-width: 100%;
        max-height: 0;
        padding-top: 60%;
    }
    #banner-main> p {
        font-size: 1.5em;
        font-weight: bold 400;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    #banner-main p> span {
        font-size: .5em;
        font-weight: italic;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        color: white;
    }
    #banner-menu {
        max-width: 100%;
        max-height: 0;
        position: relative;
        padding-top: 10%
    }
    #banner-menu> p {
        text-align: center;
        position: absolute;
        font-size: .75em;
        top: 20%;
        width: 100%;
        transform: translateY(-20%);
    }
    .header-logo {
        padding: 10px 0;
    }
    .header-menu ul {
        width: 100%;
    }
    .header-menu a {
        color: white;
    }
    .header-menu li {
        background-color: #3b3b3b;
        padding: 5px 0;
        margin: 5px auto;
        display: block;
        font-size: 1.25em;
    }
    .img-gallery {
        width: 100%;
    }
    #body-main, #footer-main {
        text-align: center;
    }
    .header-menu a:active {
        color: #A9A9A9;
    }
    .footer-anchor a:visited {
        color: white;
    }
}
